*.ex5
*.ex4
settings.json
c_cpp_properties.json
.vscode/temp/temp_@!!@.log
.vs/lm_robot/FileContentIndex/e7eb5f35-7c1c-4b5d-b6ad-f7dbf629ea4e.vsidx
.vs/lm_robot/v17/.wsuo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
